

/*
font-family: 'Mukta', sans-serif;
    font-family: 'Flamenco', cursive;
font-family: 'Poppins', sans-serif;
*/



body {
    margin: 0;
    padding: 0;
}
/*----------------------
    NAVIGATION
------------------------*/
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

/*--------------------------
        VIEW HOME
----------------------------*/




table {
    font-family: 'Mukta', sans-serif;

}
.home-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
}

.home-category-button {
    width: 900px;
    height: 100px;
    background: #122b40;
    margin-bottom: 50px;
}

.home-category-button a {
    display: block;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.home-category-label {
    font-family: 'Flamenco', cursive;
    font-size: 20px;
    margin-bottom: 5px;

}

.records {
    background-image: url("../images/vinyl.jpg");
    background-position: -225px -439px;
}

.artists {
    background-image: url("../images/artist.jpg");
    background-position: center;
}

.labels {
    background-image: url("../images/studio.jpg");
    background-position: top -471px left -321px;
 }











/*-----------------------------
        MEDIA QUERIES
-------------------------------*/
@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}